* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 100;
}

.caja-fondo {
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
}

.caja-contenedora {
	background-color: #fff;
	display: flex;
	width: 80vw;
	height: 80vh;
}

@media (max-width: 800px) {
	.caja-contenedora {
		flex-direction: column;
	}
}

.caja-izd {
	width: 50%;
	height: 100%;
	background-color: green;
}

@media (max-width: 800px) {
	.caja-izd {
		width: 100%;
	}
}

.caja-dcha {
	width: 50%;
	height: 100%;
	background-color: blue;
	display: flex;
	flex-direction: column;
}

@media (max-width: 800px) {
	.caja-dcha {
		width: 100%;
	}
}

.caja-texto {
	width: 100%;
	padding: 20px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 60px;
}

@media (max-width: 800px) {
	h1 {
		font-size: 20px;
	}
}

.caja-botones {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 20px;
}

form {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

input {
	width: 100%;
	display: block;
	margin-bottom: 15px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #fff;
}

label {
	width: 100%;
	display: block;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
}

form button {
	display: inline-block;
	margin-top: 20px;
}

.caja-titulo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}

h2 {
	color: white;
	opacity: 1;
	font-weight: normal;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 40px;
	font-family: sans-serif;
}

h2:first-child {
	opacity: 0.5;
	margin-left: 0;
}

button {
	border: none;
	padding: 10px 20px;
	color: white;
	background-color: red;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.caja-checkbox {
	display: flex;
	align-items: center;
}

.caja-checkbox input {
	width: auto;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0;
}

.caja-checkbox label {
	text-transform: none;
	font-size: 14px;
}

.caja-botones button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: grey;
	color: black;
}

.caja-botones button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
