* {
	box-sizing: border-box;
}

.caja-fondo {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: pink;
	justify-content: center;
	align-items: center;
}

.caja-contenedora {
	width: 90vw;
	height: 75vh;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	display: flex;
}

@media (max-width: 800px) {
	.caja-contenedora {
		flex-direction: column;
	}
}

.caja-izd {
	width: 40%;
	height: 100%;
	background-color: purple;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 30px;
}

@media (max-width: 800px) {
	.caja-izd {
		width: 100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px;
	}
}

.caja-dcha {
	width: 60%;
	background-color: #f7f7f7;
	height: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

@media (max-width: 800px) {
	.caja-dcha {
		width: 100%;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 20px;
	}
}

.caja-iconos {
	display: flex;
	justify-content: space-between;
}

.caja-boton-conversacion {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
}

.caja-boton-conversacion button {
	border: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: white;
}

.caja-conversacione {
	display: flex;
	flex-direction: column;
}

.caja-conversacion {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.caja-persona {
	display: flex;
	align-items: center;
}

.caja-persona img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-right: 15px;
}

.caja-cabecera {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-size: 18px;
}

.caja-iconos-mensajes img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.caja-mensajes-conversacion {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.caja-mensaje-conversacion {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 40px;
}

.caja-mensaje-conversacion.recibido {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
	margin-top: 40px;
}

.caja-mensaje-conversacion img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.caja-mensaje-conversacion div {
	margin-left: 30px;
	max-width: 60%;
	padding: 15px;
	border-radius: 10px;
	background-color: purple;
	color: white;
}

.caja-mensaje-conversacion.recibido div {
	margin-right: 30px;
	margin-left: 0;
	background-color: green;
}
