img {
	max-width: 100%;
	height: auto;
}

.caja_1 {
	background-color: #111111;
	height: 32px;
	display: flex;
	justify-content: space-between;
}

.caja_1 .iconos {
	/* display: block; */
	/* align-self: flex-start; */
	/* width: 300px; */
}

.caja_1 .iconos img {
	width: 20px;
	height: 20px;
	padding: 6px;
	display: inline-block;
}

.caja_1 .iconos img:hover {
	cursor: pointer;
	background-color: #ff0000;
}

.caja_1 .logo-webmedia {
	height: 32px;
	width: auto;
}

.caja_2 {
	background-color: #323232;
	display: flex;
	height: 120px;
	justify-content: space-around;
	padding-bottom: 20px;
	align-items: flex-end;
}

.caja_2 #logotipo {
	max-width: 100%;
	width: 140px;
	height: auto;
}

.caja_3 {
	background-color: #ff0000;
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}

.caja_3 .busqueda_menu {
	list-style: none;
	display: flex;
}

.caja_3 .busqueda_menu nav ul {
	list-style: none;
}

.caja_3 .busqueda_menu nav ul li {
	display: inline-block;
}

.caja_4 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.caja_4 nav ul {
	list-style: none;
}

.caja_4 nav ul li {
	display: inline-block;
}

.caja_5 {
	position: relative;
	width: 100%;
}

.caja_5 img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.caja_5 h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.25);
	color: white;
	margin: 0;
}

.caja_6 {
	display: flex;
}

.caja_6 .noticias {
	position: relative;
}

.caja_6 .noticias h2 {
	position: absolute;
	bottom: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	margin: 0;
}
